CompanyProjects/MVC/Connected Services/CompanyService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDto" nillable="true" type="tns:ArrayOfEmployeeDto" />
  <xs:complexType name="EmployeeDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Salary" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
  <xs:complexType name="BaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDto" nillable="true" type="tns:BaseDto" />
  <xs:complexType name="ArrayOfManagerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManagerDto" nillable="true" type="tns:ManagerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManagerDto" nillable="true" type="tns:ArrayOfManagerDto" />
  <xs:complexType name="ManagerDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Salary" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManagerDto" nillable="true" type="tns:ManagerDto" />
  <xs:complexType name="ArrayOfProjectDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectDto" nillable="true" type="tns:ProjectDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectDto" nillable="true" type="tns:ArrayOfProjectDto" />
  <xs:complexType name="ProjectDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:double" />
          <xs:element minOccurs="0" name="managerDto" nillable="true" type="tns:ManagerDto" />
          <xs:element minOccurs="0" name="managerId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectDto" nillable="true" type="tns:ProjectDto" />
  <xs:complexType name="ArrayOfProjectEmployeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectEmployeeDto" nillable="true" type="tns:ProjectEmployeeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectEmployeeDto" nillable="true" type="tns:ArrayOfProjectEmployeeDto" />
  <xs:complexType name="ProjectEmployeeDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="employeeDto" nillable="true" type="tns:EmployeeDto" />
          <xs:element minOccurs="0" name="id_employee" type="xs:int" />
          <xs:element minOccurs="0" name="id_project" type="xs:int" />
          <xs:element minOccurs="0" name="projectDto" nillable="true" type="tns:ProjectDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectEmployeeDto" nillable="true" type="tns:ProjectEmployeeDto" />
</xs:schema>