CompanyProjects/MVC/Connected Services/CompanyService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53786/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" />
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q1:ArrayOfEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetEmployeeByIdResult" nillable="true" type="q2:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="employeeDto" nillable="true" type="q3:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="employeeDto" nillable="true" type="q4:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetAllEmployeesByNameResult" nillable="true" type="q5:ArrayOfEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetManagersResult" nillable="true" type="q6:ArrayOfManagerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetManagerByIdResult" nillable="true" type="q7:ManagerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="managerDto" nillable="true" type="q8:ManagerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostManagerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="managerDto" nillable="true" type="q9:ManagerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutManagerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteManagerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManagersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManagersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetAllManagersByNameResult" nillable="true" type="q10:ArrayOfManagerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetProjectsResult" nillable="true" type="q11:ArrayOfProjectDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetProjectByIdResult" nillable="true" type="q12:ProjectDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="projectDto" nillable="true" type="q13:ProjectDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="projectDto" nillable="true" type="q14:ProjectDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetAllProjectsByNameResult" nillable="true" type="q15:ArrayOfProjectDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetProjectEmployeesResult" nillable="true" type="q16:ArrayOfProjectEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectEmployeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectEmployeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetProjectEmployeeByIdResult" nillable="true" type="q17:ProjectEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostProjectEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="projectEmployeeDto" nillable="true" type="q18:ProjectEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostProjectEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostProjectEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutProjectEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="projectEmployeeDto" nillable="true" type="q19:ProjectEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutProjectEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutProjectEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectEmployeeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectEmployeeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetAllProjectEmployeeByNameResult" nillable="true" type="q20:ArrayOfProjectEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>