CompanyProjects/MVC/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53786/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53786/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53786/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:PostEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_PostEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:PutEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_PutEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployees" message="tns:IService1_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeesResponse" message="tns:IService1_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeById" message="tns:IService1_GetEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeByIdResponse" message="tns:IService1_GetEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostEmployee" message="tns:IService1_PostEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostEmployeeResponse" message="tns:IService1_PostEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutEmployee" message="tns:IService1_PutEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutEmployeeResponse" message="tns:IService1_PutEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmployee" message="tns:IService1_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmployeeResponse" message="tns:IService1_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/PostEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/PutEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53786/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>