CompanyProjects/MVC/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65307/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" />
  <xs:element name="GetStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetStudentsResult" nillable="true" type="q1:ArrayOfStudentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetStudentByIDResult" nillable="true" type="q2:StudentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="studentDto" nillable="true" type="q3:StudentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="studentDto" nillable="true" type="q4:StudentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetNationalitiesResult" nillable="true" type="q5:ArrayOfNationalityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostNationality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="nationalityDto" nillable="true" type="q6:NationalityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostNationalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostNationalityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalityByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalityByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="GetNationalityByIDResult" nillable="true" type="q7:NationalityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutNationality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" minOccurs="0" name="nationalityDto" nillable="true" type="q8:NationalityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutNationalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutNationalityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNationality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNationalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNationalityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>