CompanyProjects/MVC/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65307/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65307/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65307/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStudentByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:PostStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_PostStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:PutStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_PutStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNationalities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalities" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNationalities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostNationality_InputMessage">
    <wsdl:part name="parameters" element="tns:PostNationality" />
  </wsdl:message>
  <wsdl:message name="IService1_PostNationality_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostNationalityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNationalityByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalityByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNationalityByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalityByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutNationality_InputMessage">
    <wsdl:part name="parameters" element="tns:PutNationality" />
  </wsdl:message>
  <wsdl:message name="IService1_PutNationality_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutNationalityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteNationality_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNationality" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteNationality_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNationalityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudents" message="tns:IService1_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentsResponse" message="tns:IService1_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStudentByID" message="tns:IService1_GetStudentByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStudentByIDResponse" message="tns:IService1_GetStudentByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostStudent" message="tns:IService1_PostStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostStudentResponse" message="tns:IService1_PostStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutStudent" message="tns:IService1_PutStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutStudentResponse" message="tns:IService1_PutStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStudent" message="tns:IService1_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStudentResponse" message="tns:IService1_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNationalities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNationalities" message="tns:IService1_GetNationalities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNationalitiesResponse" message="tns:IService1_GetNationalities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostNationality">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostNationality" message="tns:IService1_PostNationality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostNationalityResponse" message="tns:IService1_PostNationality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNationalityByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNationalityByID" message="tns:IService1_GetNationalityByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNationalityByIDResponse" message="tns:IService1_GetNationalityByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutNationality">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutNationality" message="tns:IService1_PutNationality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutNationalityResponse" message="tns:IService1_PutNationality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNationality">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteNationality" message="tns:IService1_DeleteNationality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteNationalityResponse" message="tns:IService1_DeleteNationality_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStudentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/PostStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/PutStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNationalities">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNationalities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostNationality">
      <soap:operation soapAction="http://tempuri.org/IService1/PostNationality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNationalityByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNationalityByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutNationality">
      <soap:operation soapAction="http://tempuri.org/IService1/PutNationality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNationality">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteNationality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:65307/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>